* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: linear-gradient(180deg, #040404, #15191c)
}

@font-face {
    font-family: Gotham-Black;
    src: url(../fonts/Gotham-Black.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gotham-Ligth;
    src: url(https://cpxfonts.cc/Gotham-Ligth.otf) format("opentype")
}

@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gotham-Thin;
    src: url(../fonts/Gotham-Thin.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gotham-Ultra;
    src: url(../fonts/Gotham-Ultra.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}